services:
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./minio_data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  mlflow:
    image: python:3.12-slim
    container_name: mlflow
    ports:
      - "5000:5000"
    volumes:
      - ./mlruns:/mlruns
      - ./mlflow_artifacts:/mlflow_artifacts
    working_dir: /app
    environment:
      - MLFLOW_TRACKING_SERVER_ALLOWED_HOSTS=*
    command: >
      sh -c "
        pip install --default-timeout=100 --no-cache-dir mlflow &&
        mkdir -p /mlruns /mlflow_artifacts &&
        chmod 777 /mlruns /mlflow_artifacts &&
        mlflow server --host 0.0.0.0 --port 5000 --backend-store-uri sqlite:////mlruns/mlflow.db --default-artifact-root /mlflow_artifacts --allowed-hosts '*'
      "

  train:
    build:
      context: .
      dockerfile: Dockerfile.train
    container_name: train
    command: >
      python -m src.models.train_model
        configs/hyperparameters.yaml
        data/processed/iris_processed.csv
        --mlflow-uri http://mlflow:5000
        --bucket iris-datasets
        --endpoint http://minio:9000
        --access-key minioadmin
        --secret-key minioadmin
    volumes:
      - ./data:/app/data
      - ./models:/app/models
      - ./configs:/app/configs
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    depends_on:
      - minio
      - mlflow
    profiles:
      - train
